@page "/edit-site/"
@page "/edit-site/{id:int}"
@rendermode InteractiveAuto

<h3>Create Site</h3>

<EditForm Model="site" OnSubmit="HandleSubmit">
<div class="row">
    <div class="col-lg-6">
            <label>Name</label>
            <InputText @bind-Value="site.Name" class="form-control">@site.Name</InputText>
    </div>
</div>
<div class="row mt-3">
    <div class="col-lg-4 text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>
</EditForm>


@code {
    [Parameter]
    public int? id { get; set; }
    Site site = new Site { Name = string.Empty, Description = string.Empty, Location = string.Empty, Type = string.Empty };

    async Task HandleSubmit()
    {
        
    }
}
